
<body>
  <app-loading *ngIf="showLoading" class="centered-loading"></app-loading>

  <div class="navbar-custom">
    <a class="user-color" (click)="toggleDropdown()" *ngIf="currentUser$ | async as user" >
      <img *ngIf="user.photoURL" src="{{user.photoURL}}" alt="Foto de perfil de usuario" class="user-photo">
      <img *ngIf="!user.photoURL" src="https://firebasestorage.googleapis.com/v0/b/tp-sala-de-juegos-diazgiossol.appspot.com/o/guest.webp?alt=media&token=69e91e4a-832d-4439-ab69-a30e2c8d80ee"  class="user-photo">
      {{ user.displayName?user.displayName : user.email }} 
    </a>
    <div class="dropdown-content" *ngIf="isDropdownOpen">
      <button class="logout-button" *ngIf="showLogoutButton" (click)="logout()">
        <i class="fa solid fa-power-off"></i> Cerrar Sesión
      </button>
    </div>
  </div>
  

    <div class="user-container" [ngClass]="{ 'swirl-out-bck': animate }">
  
    <div class="user-profile" *ngIf="usuarioLogueado">
      <label class="perfil">Mi perfil</label>
      <div class="user-info">
          <h2>{{ usuarioLogueado.nombre }} {{ usuarioLogueado.apellido }}</h2>
          <p>Edad: {{ usuarioLogueado.edad }}</p>
          <p>DNI: {{ usuarioLogueado.dni }}</p>
          <p>Mail: {{ usuarioLogueado.mail }}</p>
  
          <ng-container *ngIf="usuarioLogueado.role === 'admin'">
          <p>Imagen de perfil:</p>
          <img [src]="usuarioLogueado.imagenPerfil" alt="Imagen de perfil">
        </ng-container>
          
          <ng-container *ngIf="usuarioLogueado.role === 'paciente'">
  
          <p>Obra Social: {{ usuarioLogueado.obrasocial }}</p>
  
          <p>Imagen de perfil 1:</p>
          <img [src]="usuarioLogueado.imagenPerfil1" alt="Imagen de perfil1">
  
          <p>Imagen de perfil 2:</p>
          <img [src]="usuarioLogueado.imagenPerfil2" alt="Imagen de perfil2">
        </ng-container>
          
          <ng-container *ngIf="usuarioLogueado.role === 'especialista'">
  
            <p>Especialidad: {{ usuarioLogueado.especialidad === 'otra' ? usuarioLogueado.otraEspecialidad : usuarioLogueado.especialidad }}</p>
  
          <ng-container *ngIf="usuarioLogueado.especialidad.trim().length === 0">
            <p>Otra Especialidad: {{ usuarioLogueado.otraEspecialidad }}</p>
          </ng-container>
  
          <p>Imagen de perfil:</p>
          <img [src]="usuarioLogueado.imagenPerfil" alt="Imagen de perfil">
        </ng-container>
      </div>
    </div>
  
    <ng-container *ngIf="isEspecialista">
    <div class="user-profile" *ngIf="usuarioLogueado">
      <div class="user-actions">
          <app-especialista-dispo></app-especialista-dispo>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!isEspecialista">
    <div class="user-profile" *ngIf="usuarioLogueado">
      <div class="historia-clinica">
        <ng-container *ngIf="historiaClinica$ | async as historiasClinicas; else noHistoriaClinica">
          <h2>Historia Clínica</h2>
          <div *ngFor="let historia of historiasClinicas">
            <!-- <div>
              <strong>Fecha:</strong> {{ historia.fecha | date }}
            </div> -->
            <div>
              <p><strong>Altura:</strong> {{ historia.altura }} cm</p>
            </div>
            <div>
              <p><strong>Peso:</strong> {{ historia.peso }} kg</p>
            </div>
            <div>
              <p><strong>Temperatura:</strong> {{ historia.temperatura }} °C</p>
            </div>
            <div>
              <p><strong>Presión:</strong> {{ historia.presion }} mm Hg</p>
            </div>
            <div *ngFor="let dato of historia.datosDinamicos">
              <p><strong>{{ dato.clave }}:</strong> {{ dato.valor }}</p>
            </div>
            <button class="btn-export" (click)="generarPDF()">Descargar Historia Clínica en PDF</button>
          </div>
          
        </ng-container>
        <ng-template #noHistoriaClinica>
          <p>No se encontró historia clínica para este paciente.</p>
        </ng-template>
      </div>
    </div>
  </ng-container>
  </div>
  </body>
  
  <div class="center-button">
    <input type="button" [value]="btnVolver" class="btn-success" [ngClass]="{ 'swirl-out-bck': animate }" (click)="onClickHome($event)" />
  </div>
  <footer class="site-footer">
    <div class="container">
      <p>&copy; 2024 Clinica Online. Todos los derechos reservados.</p>
    </div>
  </footer>
  
