<!DOCTYPE html>
<html>
<head>
  <title></title>

</head>
<body>
    <app-loading *ngIf="showLoading" class="centered-loading"></app-loading>
    
  <div class="navbar-custom">
    <a class="user-color" (click)="toggleDropdown()" *ngIf="currentUser$ | async as user" >
      <img *ngIf="user.photoURL" src="{{user.photoURL}}" alt="Foto de perfil de usuario" class="user-photo">
      <img *ngIf="!user.photoURL" src="https://firebasestorage.googleapis.com/v0/b/tp-sala-de-juegos-diazgiossol.appspot.com/o/guest.webp?alt=media&token=69e91e4a-832d-4439-ab69-a30e2c8d80ee"  class="user-photo">
      {{ user.displayName?user.displayName : user.email }} 
    </a>
    <div class="dropdown-content" *ngIf="isDropdownOpen">
      <button class="logout-button" *ngIf="showLogoutButton" (click)="logout()">
        <i class="fa solid fa-power-off"></i> Cerrar Sesión
      </button>
    </div>
  </div>

  <main>
    <h2>Mis Turnos</h2>
    <!-- <div class="turnos-list-container">
    <div class="input-container">
      <div class="mb-2 input-width">
        <img src="assets/lupa.png" alt="Buscar" class="buscar-logo">
        <input type="text" class="form-control input-styling" placeholder="Buscar..." [(ngModel)]="filtro">
      </div>
    </div> -->

    <!-- <div class="table-responsive" *ngIf="turnosFiltrados.length > 0; else noTurnos">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
            <th>Motivo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let turno of turnosFiltrados | filterEsp: filtro">
            <td>{{ turno.especialistas.nombre }}</td>
            <td>{{ turno.especialistas.apellido }}</td>
            <td>
              <ng-container *ngIf="especialidadesPrecargadas.includes(turno.especialidad); else otraEspecialidad">
                {{ turno.especialidad }}
              </ng-container>
              <ng-template #otraEspecialidad>
                {{ turno.otraEspecialidad }}
              </ng-template>
            </td>
            <td>{{ turno.fechaHora | date:'dd/MM/yy' }}</td>
            <td>{{ turno.horario }}</td>
            <td>{{ turno.estado }}</td>
            <td>
              <span *ngIf="turno.estado === 'cancelado'">{{ turno.motivoCancelacion }}</span>
            </td>
            <td>
                <button *ngIf="turno.estado !== 'cancelado'" (click)="cancelarTurno(turno)">Cancelar Turno</button>
                <button *ngIf="turno.estado === 'cancelado'" class="disabled-button" disabled>Cancelado</button>
                <button *ngIf="turno.comentario" (click)="verResena(turno)">Ver Reseña</button>
                <button *ngIf="turno.realizado && turno.comentario" (click)="completarEncuesta(turno)">Completar Encuesta</button>
                <button *ngIf="turno.realizado" (click)="calificarAtencion(turno)">Calificar Atención</button>
            </td> -->
            <!-- <td> -->
              <!-- <button (click)="aprobarUsuario(usuario.id)" [disabled]="usuario.aprobadoPorAdmin" [ngClass]="{'custom-disabled-button': usuario.aprobadoPorAdmin, 'custom-enabled-button': !usuario.aprobadoPorAdmin}">
                  Habilitar
                </button> -->
                
                <!-- <button (click)="inhabilitarUsuario(usuario.id)" [disabled]="!usuario.aprobadoPorAdmin" [ngClass]="{'custom-disabled-button': !usuario.aprobadoPorAdmin, 'custom-enabled-button': usuario.aprobadoPorAdmin}">
                  Inhabilitar
                </button> -->
            <!-- </td> -->
          <!-- </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noTurnos>
      <p>No hay turnos disponibles</p>
    </ng-template>
  </div> -->
  
  <div *ngIf="isPaciente">
  <h3>Turnos del Paciente</h3>
  <div class="turnos-list-container">
    <div class="input-container">
      <div class="mb-2 input-width">
        <img src="assets/lupa.png" alt="Buscar" class="buscar-logo">
        <input type="text" class="form-control input-styling" placeholder="Buscar..." [(ngModel)]="filtroPaciente">
      </div>
    </div>

    <div class="table-responsive" *ngIf="turnosFiltradosPaciente.length > 0; else noTurnosPaciente">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
            <th *ngIf="tieneTurnoCancelado">Motivo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let turno of turnosFiltradosPaciente | filter: filtroPaciente">
            <td>{{ turno.especialistas.nombre }}</td>
            <td>{{ turno.especialistas.apellido }}</td>
            <td>
              <ng-container *ngIf="especialidadesPrecargadas.includes(turno.especialidad); else otraEspecialidad">
                {{ turno.especialidad }}
              </ng-container>
              <ng-template #otraEspecialidad>
                {{ turno.otraEspecialidad }}
              </ng-template>
            </td>
            <td>{{ turno.fechaHora | date:'dd/MM/yy' }}</td>
            <td>{{ turno.horario }}</td>
            <td>{{ turno.estado }}</td>
            <ng-container *ngIf="turno.estado === 'cancelado'">
              <td>{{ turno.motivoCancelacion }}</td>
            </ng-container>
            <ng-container *ngIf="turno.estado !== 'cancelado' && tieneTurnoCancelado">
              <td></td>
            </ng-container>
            <td>
                <button *ngIf="turno.estado === 'pendiente'" (click)="cancelarTurno(turno)">Cancelar Turno</button>
                <button *ngIf="turno.estado === 'cancelado'" class="disabled-button" disabled>Cancelado</button>
                <button *ngIf="turno.comentario" (click)="verResena(turno)">Ver Reseña</button>
                <button *ngIf="turno.estado === 'realizado' && !turno.encuestaCompletada" (click)="completarEncuesta(turno)">Completar Encuesta</button>
                <button *ngIf="turno.estado === 'realizado' && turno.encuestaCompletada" (click)="verEncuesta(turno)">Ver Encuesta</button>
                <button *ngIf="turno.estado === 'realizado' && !turno.calificacionCompletada" (click)="calificarAtencion(turno)">Calificar Atención</button>
                <button *ngIf="turno.estado === 'realizado' && turno.calificacionCompletada" (click)="verCalificacion(turno)">Ver Calificación</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noTurnosPaciente>
      <p>No hay turnos disponibles para el paciente</p>
    </ng-template>
  </div>
</div>

<div *ngIf="isEspecialista">
  <h3>Turnos asignados del Especialista</h3>
    <div class="turnos-list-container">
      <div class="input-container">
        <div class="mb-2 input-width">
          <img src="assets/lupa.png" alt="Buscar" class="buscar-logo">
          <input type="text" class="form-control input-styling" placeholder="Buscar..." [(ngModel)]="filtroEspecialista">
        </div>
      </div>

      <div class="table-responsive" *ngIf="turnosFiltradosEspecialista.length > 0; else noTurnosEspecialista">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Especialidad</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Estado</th>
              <th>Motivo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let turno of turnosFiltradosEspecialista | filterEsp: filtroEspecialista">
              <td>{{ turno.paciente.nombre }}</td>
              <td>{{ turno.paciente.apellido }}</td>
              <td>
                <ng-container *ngIf="especialidadesPrecargadas.includes(turno.especialidad); else otraEspecialidad">
                  {{ turno.especialidad }}
                </ng-container>
                <ng-template #otraEspecialidad>
                  {{ turno.otraEspecialidad }}
                </ng-template>
              </td>
              <td>{{ turno.fechaHora | date:'dd/MM/yy' }}</td>
              <td>{{ turno.horario }}</td>
              <td>{{ turno.estado }}</td>
              <td>
                <span *ngIf="turno.estado === 'cancelado'">{{ turno.motivoCancelacion }}</span>
              </td>
              <td>
                  <button *ngIf="turno.estado !== 'cancelado'" (click)="cancelarTurno(turno)">Cancelar Turno</button>
                  <button *ngIf="turno.estado === 'cancelado'" class="disabled-button" disabled>Cancelado</button>
                  <button *ngIf="turno.comentario" (click)="verResena(turno)">Ver Reseña</button>
                  <button *ngIf="turno.realizado && turno.comentario" (click)="completarEncuesta(turno)">Completar Encuesta</button>
                  <button *ngIf="turno.realizado" (click)="calificarAtencion(turno)">Calificar Atención</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noTurnosEspecialista>
        <p>No hay turnos disponibles para el especialista</p>
      </ng-template>
    </div>
  </div>

  <ng-template #loadingTemplate>
    <p>Cargando...</p>
  </ng-template>
  </main>

  <footer class="site-footer">
    <div class="container">
      <p>&copy; 2024 Clinica Online. Todos los derechos reservados.</p>
    </div>
  </footer>

  <div class="center-button">
    <input type="button" [value]="btnVolver" class="btn-success" (click)="onClickHome($event)"/>
  </div>
  
</body>
</html>


