
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Euclid Circular A", "Poppins";
    flex-direction: column;
  }
  

  .login-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: center;
    box-shadow: 0 0 10px rgba(112, 45, 129, 0.192);
    position: relative; 
  }

  .login-container img {
    width: 150px; 
    height: auto; 
    margin: 10px 0;
    margin-left: 20px;
  }
  
  .form-title {
    font-size: 24px; 
    margin-bottom: 15px; 
    text-align: center;
    font-weight: bold; 
  }
  
  .form-group {
    margin-bottom: 15px; 
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px; 
    text-transform: uppercase;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    text-align: center;
  }
  

  button {
    background: #007BFF ;
    width: 100%; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0; 
    font-size: 16px;
    transition: background-color 0.2s;
    font-weight: bold;
  }

  button:hover {
    background-color: #0056b3;
  }
  
  .forgot {
    text-align: right;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s; 
  }
  
  a:hover {
    color: #0056b3;
    transition: background-color 0.2s;
  }

  .icon {
    height: 1.25em;
    width: 1.25em;
    display: inline-block; 
    text-align: center;
    border-radius: 50%; 
  }
  
  .error {
    color: #ec1414;
    text-align: center;
  }

  .centered-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999; 

  }

  .btnDerecha{
    padding: 10px 15px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }

  .AC-derecha button {
    width: 120px;
}

.fotoPerfil {
  width: 60px !important;
  height: 60px !important;
  /* border-radius: 50% !important; */
  /* margin-right: 0.5rem !important; */
  margin-bottom: 10px;
}

.botones-container {
  display: flex;
  justify-content: column;
  margin: 20px;
  margin-top: 80px;
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.contenido1{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;

}

.container {
  display: flex;
  flex-direction: row; /* Alinea los elementos en una fila */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no caben en una */
    justify-content: center;/* Centra los elementos horizontalmente */
}


.btnDerecha1 {
  margin-top: 20px;
  border-radius: 50%; /* Hace el botón redondo */
  width: 90px; /* Ajusta el tamaño del botón */
  height: 90px; /* Ajusta el tamaño del botón */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Quita el borde por defecto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  /* margin-bottom: 20px; */
}

.btnDerecha1:hover {
  background-color: #00b33c; /* Color de fondo al pasar el ratón */
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Añade espacio entre cada par de imagen y botón */
}

.spacer {
  width: 10px; /* Puedes ajustar el valor según sea necesario */
  display: inline-block; /* Esto asegurará que el espacio ocupe espacio en línea */
}
